<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yeczane - ADMIN</title>
    <link rel="stylesheet" type="text/css" th:href="@{/admin.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header class="site-header">
        <div class="site-identity">
            <!--            <a href="#"><img src="http://via.placeholder.com/400" alt="Site Name" /></a>-->
            <h1><a href="#"> <i class="material-icons">local_pharmacy</i> Yeczane Admin</a></h1>
        </div>
        <nav class="site-navigation">
            <ul class="nav">
                <li><a href="/admin"> <i class="material-icons">add_circle</i> </a></li>
                <li><a href="/adminRegister"> <i class="material-icons active">person_add</i> </a></li>
                <li><a href="/logout"> <i class="material-icons">logout</i> </a></li>
            </ul>
        </nav>
    </header>
    <div class="main-content">
        <form th:object="${usersDto}" th:action="@{/registerAdmin}" method="POST">
            <div class="child-parent">
                <div class="child">
                    <h2>Add new Admin</h2>
                    <h4>Admin username:</h4>
                    <input class="text-box" name="username" required>
                    <h4>Admin password:</h4>
                    <input class="text-box" name="password" required>
                    <h4>Admin email:</h4>
                    <input class="text-box" name="email" type="email" required>
                    <p></p>
                </div><br>
                <div class="button-child">
                    <input class="post-button" type="submit" name="" value="Submit">
                </div>
            </div>
        </form>
    </div>
    <footer>
        <div class="site-footer">
            Designed and Developed by <a href="https://github.com/arasdenizhan"><span style="color: #fd3030">Denizhan Aras</span></a> - 2022
        </div>
    </footer>
</body>
</html>