<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="3; url=/logout" />
    <title>Error</title>
    <link rel="stylesheet" type="text/css" th:href="@{/login.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="register-completed">
        <h2>An error has been occurred.</h2>
        <p>Redirecting you to login in 3 seconds..</p>
    </div>
</div>
</body>
</html>