<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yeczane - Yeni Nesil Eczane</title>
    <link rel="stylesheet" type="text/css" th:href="@{/home.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header class="site-header">
        <div class="site-identity">
<!--            <a href="#"><img src="http://via.placeholder.com/400" alt="Site Name" /></a>-->
            <h1><a href="#"> <i class="material-icons">local_pharmacy</i> Yeczane</a></h1>
        </div>
        <nav class="site-navigation">
            <ul class="nav">
                <li><a href="#"> <i class="material-icons active">home</i> </a></li>
                <li><a href="#"> <i class="material-icons">account_circle</i> </a></li>
                <li><a href="#"> <i class="material-icons">receipt_long</i> </a></li>
                <li><a href="#"> <i class="material-icons">shopping_basket</i> </a></li>
                <li><a href="#"> <i class="material-icons">credit_card</i> </a></li>
                <li><a href="#"> <i class="material-icons">logout</i> </a></li>
            </ul>
        </nav>
    </header>
</body>
</html>