<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Yeczane - Login to Continue</title>
    <link rel="stylesheet" type="text/css" th:href="@{/login.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="param" th:if="${param.error}">
        <p>Invalid username and password.</p>
    </div>
    <div class="param" th:if="${param.logout}">
        <p>You have been logged out.</p>
    </div>
    <div class="container">
        <form th:action="@{/login}" method="post">
            <div class="title">Yeczane - Login</div>
            <div class="input-box underline">
                <input type="text" name="username" placeholder="Username" required>
                <div class="underline"></div>
            </div>
            <div class="input-box">
                <input type="password" name="password" placeholder="Password" required>
                <div class="underline"></div>
            </div>
            <div class="input-box button">
                <input type="submit" name="" value="Login">
            </div>
        </form>
    </div>
    <div class="container">
        <div class="register-param">
            <p><a href="register">Click here to register.</a></p>
        </div>
    </div>
</body>
</html>