<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Yeczane - Register</title>
    <link rel="stylesheet" type="text/css" th:href="@{/login.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="param" th:if="${param.error}">
    <p>Registration have not been completed.</p>
</div>
<div class="param" th:if="${param.success}">
    <p>Registration completed!</p>
</div>
    <div class="container">
    <form th:object="${usersDto}" th:action="@{/register}" method="POST">
        <div class="title">Yeczane - Register</div>
        <div class="input-box underline">
            <input type="text" th:field="*{usersDto.username}" name="username" placeholder="Username" required>
            <div class="underline"></div>
        </div>
        <div class="input-box">
            <input type="password" th:field="*{usersDto.password}" name="password" placeholder="Password" required>
            <div class="underline"></div>
        </div>
        <div class="input-box">
            <input type="email" th:field="*{usersDto.email}" name="email" placeholder="E-Mail" required>
            <div class="underline"></div>
        </div>
        <div class="input-box button">
            <input type="submit" name="" value="Register">
        </div>
    </form>
</div>
</body>
</html>