<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yeczane - Yeni Nesil Eczane</title>
    <link rel="stylesheet" type="text/css" th:href="@{/home.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header class="site-header">
        <div class="site-identity">
<!--            <a href="#"><img src="http://via.placeholder.com/400" alt="Site Name" /></a>-->
            <h1><a href="#"> <i class="material-icons">local_pharmacy</i> Yeczane</a></h1>
        </div>
        <nav class="site-navigation">
            <ul class="nav">
                <li><a href="/userHome"> <i class="material-icons active">home</i> </a></li>
                <li><a href="/userProfile"> <i class="material-icons">account_circle</i> </a></li>
                <li><a href="/userOrderList"> <i class="material-icons">receipt_long</i> </a></li>
                <li><a href="/userShoppingCart"> <i class="material-icons">shopping_basket</i> </a></li>
                <li><a href="#"> <i class="material-icons">credit_card</i> </a></li>
                <li><a href="/logout"> <i class="material-icons">logout</i> </a></li>
            </ul>
        </nav>
    </header>
    <div class="main-content">
        <div class="child-parent" th:if="${products.isEmpty()}">
            <div class="child" >
                <h2>No Products available.</h2>
            </div>
        </div>
        <div class="child-parent" th:each="product : ${products}">
            <div class="child">
                <h4>Product name:</h4>
                <p th:text="*{product.name}"></p>
                <h4>Product code:</h4>
                <p th:text="${product.code}"></p>
                <h4>Product price:</h4>
                <p th:text="${product.price}"></p>
                <h4>Product images:</h4>
                <div class="image-child">
                    <img class="image-data" th:each="image : ${product.images}" th:src="@{'data:image/jpeg;base64,'+${image}}" />
                </div>
                <button class="post-button">Add to Cart</button>
            </div>
        </div>
    </div>
    <footer>
        <div class="site-footer">
            Designed and Developed by <a href="https://github.com/arasdenizhan"><span style="color: #fd3030">Denizhan Aras</span></a> - 2022
        </div>
    </footer>
</body>
</html>